/* =================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: sans-serif;
    background: rgb(142, 37, 37);
    background: linear-gradient(90deg, rgba(142, 37, 37, 1) 0%, rgba(67, 67, 79, 1) 49%, rgba(8, 28, 32, 1) 100%);
}

/* =================================== */